{% load static %}
<!-- BLOCKQUOTE STARTS -->
<figure class="text-center blockquote_figure text-white mb-5">
	{% if blockquote %}
		{% for b in blockquote %}
			<blockquote class="blockquote aos-init aos-animate" data-aos="flip-up">
				<p class="blockquote_text mx-auto fs-3">
					{{ b.citate }}
				</p>
			</blockquote>
			<figcaption class="blockquote-footer fw-bold aos-init aos-animate" data-aos="flip-up">
				{{ b.owner }}, <cite title="{{ b.position }}">{{ b.position }}</cite>
			</figcaption>
		{% endfor %}
	{% else %}
		<p>No Citates Found. Please Wait!</p>
	{% endif %}
</figure>
<!-- BLOCKQUOTE ENDS -->