{% load static %}
<!-- CLIENTS START -->
<section class="clients">
	<div class="container">
		<h2 class="title mb-4 text-uppercase aos-init aos-animate" data-aos="fade-up">Meie Kliendid</h2>
		<div class="clients_slider aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
			
			<div class="row clients_slider_item_box">
				<div class="col-12 col-md-6 text-center mb-3 mb-md-0">
					<img class="clients_img img-fluid mx-auto" src="{% static 'main/images/clients/client3.jpg' %}" alt="Clients"/>
				</div>
				<div class="clients_slider_box_content col-12 col-md-6 d-flex flex-column justify-content-between">
					<h4 class="clients_slider_box_content_title fw-bold mb-3">Miks valida Solar <img class="header_img d-inline-block" src="{% static 'main/images/header/solar_energy.svg' %}" alt="SOLAR_ENERGY" width="30" height="24" /> Power'it?</h4>
					<ul class="list-group list-group-flush mb-3">
						<li class="list-group-item">Muretu ja ladus protsess</li>
						<li class="list-group-item">Oleme sinuga ka hiljem</li>
						<li class="list-group-item">Kindel kvaliteet</li>
						<li class="list-group-item">Personaalne lähenemine</li>
						<li class="list-group-item">Terviklahendus</li>
					</ul>
					<a class="batn mt-4 mt-md-3 mb-auto text-decoration-none align-self-center" href="#futer">
						<svg width="101" height="100" version="1.1" id="Capa_1a" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 54 54"  style="enable-background:new 0 0 54 54;" xml:space="preserve">
							<g>
								<path d="M27,0C12.112,0,0,12.112,0,27s12.112,27,27,27s27-12.112,27-27S41.888,0,27,0z M27,52C13.215,52,2,40.785,2,27
									S13.215,2,27,2s25,11.215,25,25S40.785,52,27,52z" fill="black"/>
								<path d="M29.293,17.707L37.586,26H13c-0.552,0-1,0.447-1,1s0.448,1,1,1h24.586l-8.293,8.293l1.414,1.414L41.414,27L30.707,16.293
									L29.293,17.707z" fill="black"/>
							</g>
						</svg>
						<span class="batn_text fw-bold">võtke ühendust</span>
					</a>
				</div>
			</div>
		
			<div class="row clients_slider_item_box">
				<div class="col-12 col-md-6 text-center mb-3 mb-md-0">
					<img class="clients_img img-fluid mx-auto" src="{% static 'main/images/clients/client4.jpg' %}" alt="Clients"/>
				</div>
				<div class="clients_slider_box_content col-12 col-md-6 d-flex flex-column justify-content-between">
					<h4 class="clients_slider_box_content_title fw-bold mb-3">Millist kasu saan lahendusest?</h4>
					<ul class="list-group list-group-flush mb-3">
						<li class="list-group-item">Muretu ja ladus protsess</li>
						<li class="list-group-item">Oleme sinuga ka hiljem</li>
						<li class="list-group-item">Kindel kvaliteet</li>
						<li class="list-group-item">Personaalne lähenemine</li>
						<li class="list-group-item">Terviklahendus</li>
					</ul>
					<a class="batn mt-4 mt-md-3 mb-auto text-decoration-none align-self-center" href="#futer">
						<svg width="101" height="100" version="1.1" id="Capa_14" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 54 54"  style="enable-background:new 0 0 54 54;" xml:space="preserve">
							<g>
								<path d="M27,0C12.112,0,0,12.112,0,27s12.112,27,27,27s27-12.112,27-27S41.888,0,27,0z M27,52C13.215,52,2,40.785,2,27
									S13.215,2,27,2s25,11.215,25,25S40.785,52,27,52z" fill="black"/>
								<path d="M29.293,17.707L37.586,26H13c-0.552,0-1,0.447-1,1s0.448,1,1,1h24.586l-8.293,8.293l1.414,1.414L41.414,27L30.707,16.293
									L29.293,17.707z" fill="black"/>
							</g>
						</svg>
						<span class="batn_text fw-bold">võtke ühendust</span>
					</a>
				</div>
			</div>
		
			<div class="row clients_slider_item_box">
				<div class="col-12 col-md-6 text-center mb-3 mb-md-0">
					<img class="clients_img img-fluid mx-auto" src="{% static 'main/images/clients/client2.jpg' %}" alt="Clients"/>
				</div>
				<div class="clients_slider_box_content col-12 col-md-6 d-flex flex-column justify-content-between">
					<h4 class="clients_slider_box_content_title fw-bold mb-3">Korduma kippuvad küsimused</h4>
					<ul class="list-group list-group-flush mb-3">
						<li class="list-group-item">Muretu ja ladus protsess</li>
						<li class="list-group-item">Oleme sinuga ka hiljem</li>
						<li class="list-group-item">Kindel kvaliteet</li>
						<li class="list-group-item">Personaalne lähenemine</li>
						<li class="list-group-item">Terviklahendus</li>
					</ul>
					<a class="batn mt-4 mt-md-3 mb-auto text-decoration-none align-self-center" href="#futer">
						<svg width="101" height="100" version="1.1" id="Capa_13" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 54 54"  style="enable-background:new 0 0 54 54;" xml:space="preserve">
							<g>
								<path d="M27,0C12.112,0,0,12.112,0,27s12.112,27,27,27s27-12.112,27-27S41.888,0,27,0z M27,52C13.215,52,2,40.785,2,27
									S13.215,2,27,2s25,11.215,25,25S40.785,52,27,52z" fill="black"/>
								<path d="M29.293,17.707L37.586,26H13c-0.552,0-1,0.447-1,1s0.448,1,1,1h24.586l-8.293,8.293l1.414,1.414L41.414,27L30.707,16.293
									L29.293,17.707z" fill="black"/>
							</g>
						</svg>
						<span class="batn_text fw-bold">võtke ühendust</span>
					</a>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- CLIENTS END -->