{% load static %}
<!-- INFO STARTS -->
<section class="info mt-4 mb-5">
	<div class="container">
		<h2 class="title mb-4 text-uppercase aos-init aos-animate" data-aos="fade-up">Roheline energia</h2>
		<div class="row info_inner">
			<div class="info_box col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 d-flex flex-column justify-content-evenly">
				<!--tabs-->
				<div class="info_tabs mb-4">
					<div class="info_tabs_items d-flex justify-content-evenly mb-4">
						<a class="info_tabs_item text-uppercase active" href="#tab1">müük</a>
						<a class="info_tabs_item text-uppercase" href="#tab2">paigaldamine</a>
						<a class="info_tabs_item text-uppercase" href="#tab3">hooldus</a>
					</div>
					<div class="info_tabs_contentbox pt-4">
						<div class="info_tabs_content active" id="tab1">
							<div class="info_slider">
								<div class="info_slider_item row">
									<div class="col-12 col-lg-6 mb-3 mb-lg-0">
										<img class="info_slider_img w-100" src="{% static 'main/images/info/slider1.jpg' %}" alt="SliderImage"/>
									</div>
									<div class="col-12 col-lg-6">
										<p class="info_slider_text">Klient soovib asendada krundil asuva 40 m pikkuse õhuliini maakaabliga. Hind kokku: 4500 €. Hinnale lisandub projektijuhtimise tasu. Kliendil tuleb täiendavalt välja ehitada elektrisüsteem uuest kilbist majani (kaabel kilbist majja).</p>
									</div>
								</div>
								<div class="info_slider_item row">
									<div class="col-12 col-lg-6 mb-3 mb-lg-0">
										<img class="info_slider_img w-100" src="{% static 'main/images/info/slider2.jpg' %}" alt="SliderImage"/>
									</div>
									<div class="col-12 col-lg-6">
										<p class="info_slider_text">Elektrivõrgu ümberpaigutamine territooriumi vabastamiseks. Keskpinge 400 m pikkuse õhuliini asendamine maakaabliga kinnistu piires. Hind kokku: 20 300 eurot. Hinnale lisandub projektijuhtimise tasu.</p>
									</div>
								</div>
								<div class="info_slider_item row">
									<div class="col-12 col-lg-6 mb-3 mb-lg-0">
										<img class="info_slider_img w-100" src="{% static 'main/images/info/slider3.jpg' %}" alt="SliderImage"/>
									</div>
									<div class="col-12 col-lg-6">
										<p class="info_slider_text">Liitumispunkti asukoha muutus. Kilbi ja arvesti majast välja viimine õues oleva postile. hind kokku: 1070 €. Hinnale lisandub projektijuhtimise tasu. Lisaks pead täiendavalt välja ehitama uue kilbi ja maja vahelise ühenduse (kaabel kilbist majja).</p>
									</div>
								</div>
							</div>
						</div>
						<div class="info_tabs_content" id="tab2">
							<div class="info_slider">
								<div class="info_slider_item row">
									<div class="col-12 col-lg-6 mb-3 mb-lg-0">
										<img class="info_slider_img w-100" src="{% static 'main/images/info/slider2.jpg' %}" alt="SliderImage"/>
									</div>
									<div class="col-12 col-lg-6">
										<p class="info_slider_text">Klient soovib asendada krundil asuva 40 m pikkuse õhuliini maakaabliga. Hind kokku: 4500 €. Hinnale lisandub projektijuhtimise tasu. Kliendil tuleb täiendavalt välja ehitada elektrisüsteem uuest kilbist majani (kaabel kilbist majja).</p>
									</div>
								</div>
								<div class="info_slider_item row">
									<div class="col-12 col-lg-6 mb-3 mb-lg-0">
										<img class="info_slider_img w-100" src="{% static 'main/images/info/slider1.jpg' %}" alt="SliderImage"/>
									</div>
									<div class="col-12 col-lg-6">
										<p class="info_slider_text">Elektrivõrgu ümberpaigutamine territooriumi vabastamiseks. Keskpinge 400 m pikkuse õhuliini asendamine maakaabliga kinnistu piires. Hind kokku: 20 300 eurot. Hinnale lisandub projektijuhtimise tasu.</p>
									</div>
								</div>
								<div class="info_slider_item row">
									<div class="col-12 col-lg-6 mb-3 mb-lg-0">
										<img class="info_slider_img w-100" src="{% static 'main/images/info/slider3.jpg' %}" alt="SliderImage"/>
									</div>
									<div class="col-12 col-lg-6">
										<p class="info_slider_text">Liitumispunkti asukoha muutus. Kilbi ja arvesti majast välja viimine õues oleva postile. hind kokku: 1070 €. Hinnale lisandub projektijuhtimise tasu. Lisaks pead täiendavalt välja ehitama uue kilbi ja maja vahelise ühenduse (kaabel kilbist majja).</p>
									</div>
								</div>
							</div>
						</div>
						<div class="info_tabs_content" id="tab3">
							<div class="info_slider">
								<div class="info_slider_item row">
									<div class="col-12 col-lg-6 mb-3 mb-lg-0">
										<img class="info_slider_img w-100" src="{% static 'main/images/info/slider3.jpg' %}" alt="SliderImage"/>
									</div>
									<div class="col-12 col-lg-6">
										<p class="info_slider_text">Klient soovib asendada krundil asuva 40 m pikkuse õhuliini maakaabliga. Hind kokku: 4500 €. Hinnale lisandub projektijuhtimise tasu. Kliendil tuleb täiendavalt välja ehitada elektrisüsteem uuest kilbist majani (kaabel kilbist majja).</p>
									</div>
								</div>
								<div class="info_slider_item row">
									<div class="col-12 col-lg-6 mb-3 mb-lg-0">
										<img class="info_slider_img w-100" src="{% static 'main/images/info/slider2.jpg' %}" alt="SliderImage"/>
									</div>
									<div class="col-12 col-lg-6">
										<p class="info_slider_text">Elektrivõrgu ümberpaigutamine territooriumi vabastamiseks. Keskpinge 400 m pikkuse õhuliini asendamine maakaabliga kinnistu piires. Hind kokku: 20 300 eurot. Hinnale lisandub projektijuhtimise tasu.</p>
									</div>
								</div>
								<div class="info_slider_item row">
									<div class="col-12 col-lg-6 mb-3 mb-lg-0">
										<img class="info_slider_img w-100" src="{% static 'main/images/info/slider1.jpg' %}" alt="SliderImage"/>
									</div>
									<div class="col-12 col-lg-6">
										<p class="info_slider_text">Liitumispunkti asukoha muutus. Kilbi ja arvesti majast välja viimine õues oleva postile. hind kokku: 1070 €. Hinnale lisandub projektijuhtimise tasu. Lisaks pead täiendavalt välja ehitama uue kilbi ja maja vahelise ühenduse (kaabel kilbist majja).</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="info_list row">
					<div class="info_list_item col-12 col-lg-6">
						<h5 class="info_list_title fw-bold">Arvuta, palju säästaksid</h5>
						<p class="info_list_text">Saa kalkulaatorist hinnang investeeringu suurusest ja võimalikust rahalisest võidust.</p>
					</div>
					<div class="info_list_item col-12 col-lg-6">
						<h5 class="info_list_title fw-bold">Hinnapakkumine</h5>
						<p class="info_list_text">Vaatame sinu andmed üle ja vajadusel koostame täpse hinnapakkumise.</p>
					</div>
					<div class="info_list_item col-12 col-lg-6">
						<h5 class="info_list_title fw-bold">Paigaldus</h5>
						<p class="info_list_text">Lepime kokku sobiliku aja ning paigaldame süsteemi paari päeva jooksul.</p>
					</div>
					<div class="info_list_item col-12 col-lg-6">
						<h5 class="info_list_title fw-bold">Hakka tootma!</h5>
						<p class="info_list_text">Naudi odavamat elektrit ning hoia jaama tootlikkusel silm peal oma nutitelefoni abil. </p>
					</div>
				</div>
			</div>
			<div class="info_content col-12 offset-md-1 col-md-10 offset-lg-0 col-lg-6 d-flex flex-column">
				<p class="info_content_text lead mb-4 fw-bold order-1 order-lg-0">Igaühe harjumustel on mõju, et jõuaksime kliimaneutraalsuseni. Energias tähendab rohepööre järkjärgulist üleminekut rohelisele elektrile. Kui lased rohelise energia oma ellu, vähendad süsihappegaasi õhku paiskumist ja oma keskkonnajalajälge.</p>
				<img class="info_content_img mw-100 mb-3 mb-lg-0 h-100" src="{% static 'main/images/info/info.jpg' %}" alt="Roheline Energia"/>
			</div>
		</div>
	</div>
</section>
<!-- INFO ENDS -->