{% load static %}
<!-- SERVICE STARTS -->
<section class="service mb-4">
	<div class="container">
		<h2 class="title mb-4 text-uppercase aos-init aos-animate" data-aos="fade-up">TEENUSED</h2>
		<div class="row service_inner">
			<div class="service_content aos-init aos-animate col-12 col-md-6 d-flex flex-column justify-content-evenly" data-aos="fade-right">
				<div class="service_box mb-2">
					<h4 class="box_title">KONSULTATSIOON</h4>
					<p class="box_text position-relative">Kliendi vajaduste välja selgitamine ja hinnapakkumise koostamine</p>
				</div>
				<div class="service_box mb-2">
					<h4 class="box_title">TASUVUSE ANALÜÜS</h4>
					<p class="box_text position-relative">Tasuvusaeg sõltub peamiselt valitud pv-paneelide tüübist, elektritarbimisest, turu elektrihinnast, finantseerimise tingimustest</p>
				</div>
				<div class="service_box mb-2">
					<h4 class="box_title">EHITUS JA PROJEKTIJUHTIMINE</h4>
					<p class="box_text position-relative">Projekteerimine, paigaldustööd, päikeseelektrijaama seadistamine, auditid, dokumentatsioon</p>
				</div>
				<div class="service_box">
					<h4 class="box_title">MONITOORING JA HOOLDUS</h4>
					<p class="box_text position-relative">Päikesepaneelide-, inverterite-, elektriliste ühenduste ja raamide kontrollimine</p>
				</div>
			</div>
			<div class="service_content aos-init aos-animate col-12 col-md-6" data-aos="fade-left">
				<img class="service_img h-100" src="{% static 'main/images/service_img.jpg' %}" alt="teenused"/>
			</div>
		</div>
	</div>
</section>
<!-- SERVICE ENDS -->