{% load static %}
<!-- SERVICE STARTS -->
<section class="service mb-4">
	<div class="container">
		<h2 class="title mb-4 text-uppercase aos-init aos-animate" data-aos="fade-up">TEENUSED</h2>
		<div class="row service_inner">
			<div class="service_content aos-init aos-animate col-12 col-md-6 d-flex flex-column justify-content-evenly" data-aos="fade-right">
				{% for topic in services %}
					<div class="service_box mb-2">
						<h4 class="box_title text-uppercase">{{ topic.heading }}</h4>
						<p class="box_text position-relative">{{ topic.text }}</p>
					</div>
				{% empty %}
					<div class="service_box">
						<h4 class="box_title">No Services Found. Please Wait!</h4>
					</div>
				{% endfor %}
			</div>
			<div class="service_content aos-init aos-animate col-12 col-md-6" data-aos="fade-left">
				{% for si in service_imgs %}
					<img class="service_img h-100" src="{{ si.service_img.url }}" alt="{{ si.name }}"/>
				{% empty %}
					<img class="service_img h-100" src="https://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" alt="Example"/>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- SERVICE ENDS -->