{% load static %}
<!-- STEPS START -->
<section class="step mt-5">
	<div class="container my-5">
		<div class="row step_inner align-items-stretch">
			<div class="col-12 col-lg-6 step_content">
				<h2 class="title mb-4 text-uppercase aos-init aos-animate" data-aos="fade-up">Tarbi targalt, tooda targalt</h2>
				<div class="d-flex flex-column justify-content-between aos-init aos-animate" data-aos="fade-right" data-aos-delay="500">
					<div class="mb-lg-4">
						<span class="text-secondary">01</span>
						<h4 class="fw-bold">Hangi tootmisseadmed</h4>
						<p class="">Tootmisseade võib olla nii päikesepaneel, tuulik kui generaator.</p>
					</div>
					
					<div class="mb-lg-4">
						<span class="text-secondary">02</span>
						<h4 class="fw-bold">Võrguleping</h4>
						<p class="">Sõlmi võrguleping ja väiketootja liitumisleping.</p>
					</div>
					
					<div class="mb-lg-4">
						<span class="text-secondary">03</span>
						<h4 class="fw-bold">Paigaldus</h4>
						<p class="">Paigaldame ja seadistame seadmed, et mõõta tarbitud ja võrku tagasi antud energiakoguseid.</p>
					</div>
					
					<div class="mb-lg-4">
						<span class="text-secondary">04</span>
						<h4 class="fw-bold">Väiketootja energialeping</h4>
						<p class="">Kui soovid üleliigset elektrienergiat võrku tagasi müüa, sõlmime sinuga ka väiketootja energialepingu.</p>
					</div>
					
					<div class="">
						<span class="text-secondary">05</span>
						<h4 class="fw-bold">Hakka tootma</h4>
						<p class="">Energialepingut saab sõlmida vaid selle energiamüüjaga, kelle käest sa enda tarbeks elektrit ostad.</p>
					</div>
				</div>
			</div>
			
			<div class="col-12 col-lg-6 text-center step_content_img aos-init aos-animate" data-aos="fade-left" data-aos-delay="500">
				<img class="img-fluid step_img h-100" src="{% static 'main/images/steps/step.jpg' %}" alt="StepsImage"/>
			</div>
		</div>
	</div>
</section>
<!-- STEPS END -->