{% load static %}
<!-- STEPS START -->
<section class="step mt-5">
	<div class="container my-5">
		<div class="row step_inner align-items-stretch">
			<div class="col-12 col-lg-6 step_content">
				<h2 class="title mb-4 text-uppercase aos-init aos-animate" data-aos="fade-up">Tarbi targalt, tooda targalt</h2>
				<div class="d-flex flex-column justify-content-between aos-init aos-animate" data-aos="fade-right" data-aos-delay="500">
					{% for step in steps %}
						<div class="mb-lg-4">
							<span class="text-secondary">0{{ step.id }}</span>
							<h4 class="fw-bold">{{ step.heading }}</h4>
							<p class="">{{ step.text }}</p>
						</div>
					{% empty %}
						<div class="service_box">
							<h4 class="box_title">No Steps Found. Please Wait!</h4>
						</div>
					{% endfor %}
				</div>
			</div>
			
			<div class="col-12 col-lg-6 text-center step_content_img aos-init aos-animate" data-aos="fade-left" data-aos-delay="500">
				{% for si in steps_imgs %}
					<img class="img-fluid step_img h-100" src="{{ si.service_img.url }}" alt="{{ si.name }}"/>
				{% empty %}
					<img class="img-fluid step_img h-100" src="https://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" alt="StepsImage"/>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<!-- STEPS END -->